<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-left">
      <strong> &copy; {% now "Y" %} Secure Vote</strong>
      <p>Desenvolvido por <strong>Aquilivio Maria</strong></p>
    </div>
    <div class="social-icons">
      <a
        href="https://wa.me/5511999999999"
        target="_blank"
        class="whatsapp-icon"
      >
        <i class="fa fa-whatsapp"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/seuperfil"
        target="_blank"
        class="linkedin-icon"
      >
        <i class="fa fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/aquiliviomaria/Secure-Vote"
        target="_blank"
        class="github-icon"
      >
        <i class="fa fa-github"></i>
      </a>
      <a
        href="https://instagram.com/seuperfil"
        target="_blank"
        class="instagram-icon"
      >
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
