Django==5.1.4
gunicorn
dj-database-url
psycopg2-binary
djangorestframework
django-filter
django-bootstrap3
django-renderpdf
weasyprint
social-auth-app-django
social-auth-core
python-dateutil
requests
whitenoise>=6.4,<7
python-dotenv
